h1{
    background-color: rgb(243, 9, 192);
    font-family: fantasy;
}
body{
    background-color: rgba(8, 28, 204, 0.911);
}
h2{
  background-color: rgb(243, 9, 192);
  font-family: fantasy;
  font-size: medium;
}
h3{
    background-color: rgb(243, 9, 192);
    font-family: fantasy;
    font-size: medium;
}
h4{
    background-color: rgb(243, 9, 192);
    font-family: fantasy;
    font-size: medium;
}
h5{
    background-color: rgb(243, 9, 192);
    font-family: fantasy;
    font-size: medium;
}
h6{
    background-color: rgb(243, 9, 192);
    font-family: fantasy;
    font-size: medium;
}